<div class="row">
  {{#each}}
    <div class="col col-sm-12 answer-row">
      {{#link-to 'answer' id classNames='link'}}<div>{{answerTitle}}</div>{{/link-to}}
      {{#link-to 'answer' id classNames='link'}}Author: {{answerName}}{{/link-to}}
    </div>
  {{/each}}
</div>
