<div class="container">
  <div class="row row1">
    <div class="header-logo">
      <span class="title">Message Board</span>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
    </div>
      <div class="col-sm-8">

          <div class="row">
            <nav class="navbar navbar-default" role="navigation">
              <ul class="nav navbar-nav">
                <li>{{#link-to 'questions' classNames='nav-link'}}<span class="">Questions</span>{{/link-to}}</li>
              </ul>
              <ul class="nav navbar-nav">
                <li>{{#link-to 'edit-questions' classNames='nav-link'}}<span class="">Edit Questions</span>{{/link-to}}</li>
              </ul>
            </nav>
          </div>

          <div class="row">
            {{outlet}}
          </div>
      </div>
    <div class="col-sm-2"></div>
  </div>
</div>
