<div class="row">
  <div class="col-sm-12 header">
    Edit Questions
  </div>
</div>

{{#each}}
  <div class="row answer-row">
    <div class="col col-sm-12">
      {{#link-to 'edit-question' id classNames='link'}}<div class="description">{{title}}</div>

      <div class="name">Asked by: {{name}}</div>{{/link-to}}
    </div>
  </div>
{{/each}}
