<div class="row">
  <div class="col-sm-12 header">
    Edit Questions
  </div>
</div>

<div class="row">
  {{#each}}
  <div class="col col-sm-4">
    {{#link-to 'edit-question' id}}<div class="description">{{title}}</div>{{/link-to}}

    {{#link-to 'edit-question' id}}<div class="name">Asked by: {{name}}</div>{{/link-to}}
  </div>
  {{/each}}
</div>
