<div class="question-div">
  <div class="question">
    <h3>Question: {{this.description}}</h3>
    <h4>Author: {{this.name}}</h4>
    <img class="image"{{bind-attr src=this.image}} />
  </div>
</div>
